
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <i class="social-icon fab fa-facebook"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-linkedin"></i>
    <p>@ My Web Development Portfolio/ ivycamago99@gmail.com</p>
  </div>
</div>
</body>
</html>
