<%- include("partials/header"); -%>

<div class="v-header container2">
  
  <div class="fullscreen-video-wrap">
    <video src="/video/journal.mp4" autoplay="true" loop="true"></video>

    <div class="header-overlay">
      <div class="container">
        <h1>How Can We Help You?</h1>
        <h2> <%= contactContent %> </h2>
      </div>
    </div>

  </div>
</div>

<%- include("partials/footer"); -%>
